### Data Analysis

### Problem Statement
Prediction of used car prices

### 1. Data Description
Data generated from deep learning model fine-tuned on the used car price prediction dataset

#### 1.1 Import libraries

In [6]:
#!pip install pandas
import pandas as pd

##### 1.2 Data import

In [17]:
df=pd.read_csv("data/train.csv")
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850

In [8]:
df.shape

(54273, 13)

#### 1.3 Data information
* Data consist of 12 independant features of which 3 numerical columns and rest of the features categorical .
* Output column : Price - Numerical column
* 5.4 MB data size

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54273 entries, 0 to 54272
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            54273 non-null  int64
 1   brand         54273 non-null  object
 2   model         54273 non-null  object
 3   model_year    54273 non-null  int64
 4   milage        54273 non-null  int64
 5   fuel_type     54273 non-null  object
 6   engine        54273 non-null  object
 7   transmission  54273 non-null  object
 8   ext_col       54273 non-null  object
 9   int_col       54273 non-null  object
 10  accident      54273 non-null  object
 11  clean_title   54273 non-null  object
 12  price         54273 non-null  int64
dtypes: int64(4), object(9)
memory usage: 5.4+ MB

2. Data Checks before analysis

2.1 Checking for missing values
* There are no missing values

In [22]:
df.isna().sum()

id              0
brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
ext_col         0
int_col         0
accident        0
clean_title     0
price           0
dtype: int64

2.2 Check for duplicates
* No duplicates

In [23]:
df.duplicated().sum()

0

2.3 Check for unique values

In [24]:
df.nunique()

id              54273
brand              53
model            1827
model_year         34
milage           3212
fuel_type           7
engine           1061
transmission       46
ext_col           260
int_col           124
accident            2
clean_title         1
price            1481
dtype: int64

2.4 Statistics of the data

In [25]:
df.describe()

                 id    model_year         milage         price
count  54273.000000  54273.000000   54273.000000  5.427300e+04
mean   27136.000000   2015.091979   72746.175667  3.921844e+04
std    15667.409917      5.588909   50469.490448  7.282634e+04
min        0.000000   1974.000000     100.000000  2.000000e+03
25%    13568.000000   2012.000000   32268.000000  1.550000e+04
50%    27136.000000   2016.000000   66107.000000  2.800000e+04
75%    40704.000000   2019.000000  102000.000000  4.500000e+04
max    54272.000000   2024.000000  405000.000000  2.954083e+06

#### Insights form the data
* Time period of the dataset ranges from 1974-2024 
* Min price of used car : $2k
* Max price : $ 2M

#### 3. Data Exploration

##### 3.1 Categories in the categorical columns

In [29]:
print("Categories in '1.Brand':--{}\n".format(df['brand'].unique()))
print("Categories in '2.Model':--{}\n".format(df['model'].unique()))
print("Categories in '3.Fuel Type':--{}\n".format(df['fuel_type'].unique()))
print("Categories in '4.Engine Type':--{}\n".format(df['engine'].unique()))
print("Categories in '5.Transmission':--{}\n".format(df['transmission'].unique()))
print("Categories in '6.Exterior colour':--{}\n".format(df['ext_col'].unique()))
print("Categories in '7.Interior colour':--{}\n".format(df['int_col'].unique()))
print("Categories in '8.Accident history':--{}\n".format(df['accident'].unique()))
print("Categories in '9.Clean Title':--{}\n".format(df['clean_title'].unique()))

Categories in '1.Brand':--['Ford' 'BMW' 'Jaguar' 'Pontiac' 'Acura' 'Audi' 'GMC' 'Maserati'
 'Chevrolet' 'Porsche' 'Mercedes-Benz' 'Tesla' 'Lexus' 'Kia' 'Lincoln'
 'Dodge' 'Volkswagen' 'Land' 'Cadillac' 'Mazda' 'RAM' 'Subaru' 'Hyundai'
 'MINI' 'Jeep' 'Honda' 'Hummer' 'Nissan' 'Toyota' 'Volvo' 'Genesis'
 'Mitsubishi' 'Buick' 'INFINITI' 'McLaren' 'Scion' 'Lamborghini' 'Bentley'
 'Suzuki' 'Ferrari' 'Alfa' 'Rolls-Royce' 'Chrysler' 'Aston' 'Rivian'
 'Lotus' 'Saturn' 'Lucid' 'Mercury' 'Maybach' 'FIAT' 'Plymouth' 'Bugatti']

Categories in '2.Model':--['F-150 Lariat' '335 i' 'XF Luxury' ... 'Q4 e-tron Sportback Premium'
 'Countryman Cooper' 'S-10 LS']

Categories in '3.Fuel Type':--['Gasoline' 'Hybrid' 'E85 Flex Fuel' 'Diesel' '–' 'Plug-In Hybrid'
 'not supported']

Categories in '4.Engine Type':--['375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel'
 '300.0HP 3.0L Straight 6 Cylinder Engine Gasoline Fuel'
 '300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel' ... '3.0L'
 '3.0 Liter GTDI' '120.0HP 2.2L 4 Cylinder Engine Flex Fuel Capability']

Categories in '5.Transmission':--['10-Speed A/T' '6-Speed M/T' '6-Speed A/T'
 'Transmission w/Dual Shift Mode' 'A/T' '5-Speed M/T' '7-Speed A/T'
 '5-Speed A/T' '8-Speed A/T' 'Transmission Overdrive Switch'
 '9-Speed Automatic' '7-Speed M/T' '10-Speed Automatic'
 '6-Speed Automatic' 'M/T' '5-Speed Automatic' 'CVT Transmission'
 '9-Speed A/T' '8-Speed Automatic' '4-Speed A/T' 'Automatic' '1-Speed A/T'
 '8-Speed Automatic with Auto-Shift' '7-Speed DCT Automatic'
 'Automatic CVT' '7-Speed Automatic' '7-Speed Automatic with Auto-Shift'
 '4-Speed Automatic' '6-Speed Automatic with Auto-Shift' '6-Speed Manual'
 '7-Speed Manual' '6-Speed Electronically Controlled Automatic with O'
 '1-Speed Automatic' '10-Speed Automatic with Overdrive' '8-Speed Manual'
 '2-Speed A/T' 'CVT-F' '–' 'F' '9-Speed Automatic with Auto-Shift'
 '7-Speed' 'Variable' 'SCHEDULED FOR OR IN PRODUCTION' '6-Speed'
 '6 Speed At/Mt' '6 Speed Mt']

Categories in '6.Exterior colour':--['Blue' 'Black' 'Purple' 'Gray' 'White' 'Red' 'Silver' 'Summit White'
 'Platinum Quartz Metallic' 'Green' 'Orange' 'Lunar Rock'
 'Red Quartz Tintcoat' 'Beige' 'Gold' 'Jet Black Mica'
 'Delmonico Red Pearlcoat' 'Brown' 'Rich Garnet Metallic'
 'Stellar Black Metallic' 'Yellow' 'Deep Black Pearl Effect' 'Metallic'
 'Ice Silver Metallic' 'Agate Black Metallic' 'Rosso Mars Metallic'
 'White Clearcoat' 'Santorini Black Metallic' 'DB Black Clearcoat'
 'Snowflake White Pearl' 'Glacial White Pearl' 'Maximum Steel Metallic'
 'Blue Caelum' 'Dark Matter Metallic' '–' 'Oxford White'
 'Cobra Beige Metallic' 'Velvet Red Pearlcoat' 'Python Green'
 'Obsidian Black Metallic' 'Beluga Black' 'Blue Reflex Mica'
 'Sparkling Silver' 'Black Clearcoat' 'Soul Red Crystal Metallic'
 'Bright White Clearcoat' 'Shimmering Silver' 'Midnight Black Metallic'
 'Cajun Red Tintcoat' 'Cirrus Silver Metallic' 'Blu'
 'Burnished Bronze Metallic' 'Hellayella Clearcoat' 'Diamond Black'
 'White Diamond Tri-Coat' 'Nebula Gray Pearl' 'Bronze Dune Metallic'
 'Polymetal Gray Metallic' 'Nightfall Gray Metallic' 'Fuji White'
 'Shadow Gray Metallic' 'Dark Moon Blue Metallic' 'Dark Sapphire'
 'Firecracker Red Clearcoat' 'Black Raven' 'White Knuckle Clearcoat'
 'Siren Red Tintcoat' 'Designo Magno Matte' 'Atomic Silver'
 'Billet Silver Metallic Clearcoat' 'Ember Pearlcoat' 'Magnetic Black'
 'Pacific Blue Metallic' 'Midnight Blue Metallic' 'Alta White'
 'Eiger Grey' 'Diamond White' 'Onyx' 'Hyper Red' 'Ebony Twilight Metallic'
 'Alpine White' 'Sonic Silver Metallic' 'Dark Ash Metallic'
 'Volcano Grey Metallic' 'Patriot Blue Pearlcoat' 'Onyx Black'
 'Titanium Silver' 'Granite Crystal Clearcoat Metallic' 'Nero Noctis'
 'Silver Zynith' 'Black Cherry' 'Iconic Silver Metallic' 'Nero Daytona'
 'Daytona Gray Pearl Effect' 'Dark Moss' 'Deep Crystal Blue Mica'
 'China Blue' 'Magnetic Metallic' 'Midnight Black' 'Vega Blue'
 'Sandstone Metallic' 'Machine Gray Metallic' 'C / C'
 'Platinum Gray Metallic' 'Silver Ice Metallic' 'Carrara White Metallic'
 'Black Sapphire Metallic' 'Go Mango!' 'White Frost Tri-Coat'
 'Lizard Green' 'Santorin Black' 'Twilight Black' 'Gecko Pearlcoat'
 'Satin Steel Metallic' 'Imperial Blue Metallic' 'Nautical Blue Pearl'
 'Stone Gray Metallic' 'Quartzite Grey Metallic' 'Majestic Black Pearl'
 'Shadow Black' 'Crimson Red Tintcoat' 'Silver Flare Metallic' 'Vik Black'
 'Lunar Silver Metallic' 'Maroon' 'Redline Red' 'Iridescent Pearl Tricoat'
 'Brilliant Silver Metallic' 'Lunar Blue Metallic' 'Matte White' 'Tan'
 'Stormy Sea' 'Twilight Blue Metallic' 'Ibis White'
 'Kodiak Brown Metallic' 'Crystal Black Silica' 'Sting Gray Clearcoat'
 'Pristine White' 'Pearl White' 'Antimatter Blue Metallic'
 'Tango Red Metallic' 'Crystal Black Pearl' 'Rift Metallic'
 'Glacier White Metallic' 'Quartz White' 'Black Obsidian'
 'Brilliant Black' 'Ruby Red Metallic Tinted Clearcoat'
 'Tungsten Metallic' 'Magnetite Black Metallic' 'Jupiter Red' 'Glacier'
 'Santorini Black' 'Navarre Blue'
 'Phantom Black Pearl Effect / Black Roof' 'Isle of Man Green Metallic'
 'Snowflake White Pearl Metallic' 'Brands Hatch Gray Metallic'
 'Volcanic Orange' 'Liquid Platinum' 'Bayside Blue'
 'Rapid Red Metallic Tinted Clearcoat' 'Majestic Plum Metallic'
 'White Platinum Tri-Coat Metallic' 'Mosaic Black Metallic' 'Chalk'
 'Black Noir Pearl' 'Nightfall Mica' 'Dark Gray Metallic'
 'Mythos Black Metallic' 'Blueprint' 'Quicksilver Metallic' 'Frozen White'
 'Lunare White Metallic' 'Verde' 'Dark Graphite Metallic' 'Mythos Black'
 'Ebony Black' 'Ultra Black' 'Ingot Silver Metallic'
 'Glacier Silver Metallic' 'Gun Metallic' 'Wind Chill Pearl'
 'Anodized Blue Metallic' 'designo Diamond White' 'Tempest' 'Caviar'
 'Phytonic Blue Metallic' 'Moonlight Cloud'
 'Daytona Gray Pearl Effect w/ Black Roof' 'Bianco Isis'
 'Carbonized Gray Metallic' 'Deep Blue Metallic' 'Ametrin Metallic'
 'Super Black' 'Rosso Corsa' 'Blue Metallic' 'Iridium Metallic'
 'Dark Slate Metallic' 'Manhattan Noir Metallic' 'Alfa White'
 'Baltic Gray' 'Northsky Blue Metallic' 'Super White'
 'Carbon Black Metallic' 'Horizon Blue' 'Jungle Green'
 'Cayenne Red Tintcoat' 'Pink' 'Daytona Gray' 'Gentian Blue Metallic'
 'Sangria Red' 'Kemora Gray Metallic' 'Magnetite Gray Metallic'
 'Octane Red Pearlcoat' 'Custom Color' 'Ultra White' 'Pacific Blue'
 'Ruby Flare Pearl' 'Caspian Blue' 'Silver Radiance'
 'Carpathian Grey Premium Metallic' 'Ice' 'Balloon White'
 'Shoreline Blue Pearl' 'Firenze Red Metallic' 'Remington Red Metallic'
 'Orca Black Metallic' 'Radiant Red Metallic II' 'Mineral White'
 'Glacier White' 'Snow White Pearl' 'Iridium Silver Metallic'
 'Carpathian Grey' 'Mountain Air Metallic' 'Selenite Gray Metallic'
 'Graphite Grey Metallic' 'Selenite Grey Metallic' 'Kinetic Blue'
 'Wolf Gray' 'Star White' 'Emin White' 'Indus Silver'
 'Matador Red Metallic' 'Portofino Gray' 'Black Forest Green'
 'Dazzling White' 'Flame Red Clearcoat' 'Glacier Blue Metallic'
 'Arctic White' 'Rosso' 'Silver Mist' 'Bianco Icarus Metallic'
 'Firenze Red' 'Ironman Silver' 'Red Obsession' 'Magnetic Gray Metallic'
 'Garnet Red Metallic' 'Vulcano Black Metallic' 'Magnetic Gray Clearcoat']

Categories in '7.Interior colour':--['Gray' 'Black' 'Beige' 'Brown' 'Silver' 'Jet Black' 'Mesa' 'White' '–'
 'Red' 'Blue' 'Medium Stone' 'Ash' 'Ebony' 'Shara Beige' 'Tan'
 'Titan Black / Quarzit' 'Global Black' 'Orange' 'Saddle Brown' 'Nero Ade'
 'Beluga' 'Light Slate' 'Gold' 'Black Onyx' 'Nougat Brown' 'Camel'
 'Hotspur Hide' 'Charcoal' 'Satin Black' 'Deep Chestnut'
 'Diesel Gray / Black' 'White / Brown' 'AMG Black' 'Parchment' 'Shale'
 'Canberra Beige' 'Sahara Tan' 'Ebony / Pimento' 'Rhapsody Blue'
 'Medium Dark Slate' 'Rioja Red' 'Black / Express Red' 'Deep Garnet'
 'Portland' 'Sandstone' 'Dark Ash' 'Deep Cypress' 'Black / Stone Grey'
 'Chestnut' 'Navy Pier' 'Green' 'Giallo Taurus / Nero Ade'
 'Mistral Gray / Raven' 'Dark Gray' 'Amber' 'Charles Blue' 'Hotspur'
 'Medium Earth Gray' 'Ceramic' 'Kyalami Orange' 'Charcoal Black'
 'Adrenaline Red' 'Walnut' 'Brandy' 'Black / Saddle' 'Obsidian Black'
 'Oyster W/Contrast' 'Macchiato' 'Red / Black' 'Whisper Beige' 'Graphite'
 'Yellow' 'Medium Light Camel' 'Slate' 'Nero' 'Ebony Black' 'Espresso'
 'Cappuccino' 'Ivory / Ebony' 'Boulder' 'Medium Ash Gray' 'Platinum'
 'Light Platinum / Jet Black' 'Beluga Hide' 'Black / Graphite'
 'Canberra Beige/Black' 'Rock Gray' 'Dark Auburn' 'Almond Beige'
 'Sand Beige' 'Black / Brown' 'Ice' 'Silk Beige/Espresso Brown'
 'Dark Galvanized' 'Cobalt Blue' 'Grace White' 'Titan Black'
 'Cocoa / Dune' 'Light Gray' 'Camel Leather' 'Light Titanium'
 'Pimento Red w/Ebony' 'Sport' 'Oyster/Black' 'Black/Red'
 'Ebony / Ebony Accents' 'Cloud' 'Graystone' 'BLACK' 'Mountain Brown'
 'Linen' 'Caramel' 'Black / Gray' 'Blk' 'Black w/Red Stitching' 'Mocha'
 'Tupelo' 'Tan/Ebony' 'Parchment.' 'Black/Gun Metal' 'Very Light Cashmere'
 'Medium Pewter' 'Red/Black']

Categories in '8.Accident history':--['None reported' 'At least 1 accident or damage reported']

Categories in '9.Clean Title':--['Yes']